<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="gm24_mount" params="parent_link prefix tilt pan *origin">
    <link name="${prefix}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://fath_pivot_mount_description/meshes/gm24_base.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.052" />
        </geometry>
        <origin xyz="0.0 0.0 0.026" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${prefix}_hinge_link">
      <visual>
        <geometry>
          <mesh filename="package://fath_pivot_mount_description/meshes/gm24_top.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.08 0.055" />
        </geometry>
        <origin xyz="0.0 0.0 0.0275" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${prefix}_mount" />

    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${prefix}_base_link" />
      <origin xyz="0 0 0" rpy="0 0 ${pan}" />
      <xacro:insert_block name="origin" />
    </joint>

    <joint name="${prefix}_hinge_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_hinge_link" />
      <origin xyz="0 0 0.03584" rpy="0 ${tilt} 0" />
    </joint>

    <joint name="${prefix}_mount_joint" type="fixed">
      <parent link="${prefix}_hinge_link" />
      <child link="${prefix}_mount" />
      <origin xyz="0 0 0.038" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
